# Supabase Configuration
VITE_SUPABASE_URL=https://ayfbrkudeqvvnhchmxas.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF5ZmJya3VkZXF2dm5oY2hteGFzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4MzgyNjUsImV4cCI6MjA4OTQxNDI2NX0.WplInJaKAg2m0pehHZ54zrJ0cJfCDLr3bMxIfjto1ws

# Supabase Storage Buckets
VITE_SCROLL_SEQUENCE_BUCKET="Hero Section"
VITE_PORTFOLIO_BUCKET=portfolio-media
